<div  ng-controller="FooterCtrl as footCtrl">
	<footer>
		<div class="wrap">Copyright &copy; 2014 CXSENSOR.CN. 锦跃科技 版权所有<br></div>
	</footer>
</div>
<div id="floatTools" class="float0831">
	<div class="floatL">
		<a id="aFloatTools_Show" class="btnOpen" href="javascript:void(0);" onclick="javascript:$('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 'normal',function(){ $('#divFloatToolsView').show();kf_setCookie('RightFloatShown', 0, '', '/', 'www.myya.cc'); });$('#aFloatTools_Show').attr('style','display:none');$('#aFloatTools_Hide').attr('style','display:block');" title="查看在线客服" style="DISPLAY: none">展开</a>
		<a id="aFloatTools_Hide" class="btnCtn" href="javascript:void(0);" onclick="javascript:$('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#divFloatToolsView').hide();kf_setCookie('RightFloatShown', 1, '', '/', 'www.myya.cc'); });$('#aFloatTools_Show').attr('style','display:block');$('#aFloatTools_Hide').attr('style','display:none');" title="关闭在线客服">收缩</a>
	</div>
	<div id="divFloatToolsView" class="floatR">
		<div class="tp"></div>
		<div class="cn">
			<ul>
				<li class="top">
					<h3 class="titZx">在线咨询</h3>
				</li>
				<li>
					<a class="icoTc" href="http://wpa.qq.com/msgrd?v=3&uin=2449318994&site=qq&menu=yes" target="_blank">售前咨询</a>
				</li>
				<li>
					<a class="icoTc" href="http://wpa.qq.com/msgrd?v=3&uin=2449318994&site=qq&menu=yes" target="_blank">售后客服</a>
				</li>
			</ul>
			<ul>
				<li>
					<h3 class="titDh">微信扫一扫</h3>
				</li>
				<li>
					<img width="100" src="assets/images/ewm.gif">
				</li>
			</ul>
			<ul>
				<li>
					<h3 class="titDh">24小时热线</h3>
				</li>
				<li>
					<span class="icoTl">13357163105</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="assets/js/scrolltopcontrol.js" ></script>
<script src="assets/js/kefu.js" ></script>
	