<link rel="stylesheet" type="text/css" href="assets/css/css.css" >
<link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox-1.3.4.css" >



<div ng-controller="NavbarCtrl as navbarCtrl">
  <header>
  <div class="top">
      <div class="wrap">
        <div class="hd_Top">
            <a href="javascript:void(0);" onmouseover="javascript:$(this).children('span').show();" onmouseout="javascript:$(this).children('span').hide();" looyu_bound="1">官方微信<span class="qcode"><img src="assets/images/ewm.gif"  alt="官方微信" title="官方微信"></span></a><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('index.htm'/*tpa=http://www.cxsensor.cn/*/);">设为首页</a><a href="javascript:window.external.AddFavorite('index.htm'/*tpa=http://www.cxsensor.cn/*/,'杭州锦跃科技有限公司')">收藏本站</a><a href="javascript:window.external.AddFavorite('index.htm'/*tpa=http://www.cxsensor.cn/*/,'杭州锦跃科技有限公司')">关于我们</a>
        </div>
        <div class="hd_Mid">
            <div class="fl"><a href="index.htm" ><img src="assets/images/logo.gif"  alt="锦跃科技" title="锦跃科技"></a></div>
            <div class="hd_frDiv fr"><span class="tel_wd">咨询服务热线：</span> <span class="tel_no">0571-88581287</span></div>
            <div class="clear"></div>
        </div>
        <div class="h_nav clearfix">
            <ul>
                
                <li ng-repeat="menu in navbarCtrl.menu" class="{{menu.style}}"><a href="index.htm" ui-sref="{{menu.state}}"  ng-bind="menu.title">锦跃首页</a></li>
                
            </ul>
        </div>
        </div>
        <div id="ppt5" class="com">
            <ul>
                <li><img src="assets/images/slience_list1.jpg"  alt="精神"></li>
            </ul>
        </div>
    </div>
    <div class="wrap">
    <div class="search">
        <div class="form fr">
            <input type="hidden" name="kwtype" value="0">
            <input name="q" type="text" class="search-keyword" placeholder="在这里搜索..." onfocus="if(this.placeholder=='在这里搜索...'){this.placeholder='';}" onblur="if(this.placeholder==''){this.placeholder='在这里搜索...';}" ng-model="navbarCtrl.keyWord">
            <select name="searchtype" class="search-option">
                
                <option ng-repeat="category in navbarCtrl.categories" ng-bind="'-'+category.name" ng-click="navbarCtrl.changeCategory(category)">-CXsensor传感器</option>
                
            </select>
            <button type="submit" class="search-submit" ng-click="navbarCtrl.search()">搜索</button>
        </div>
                <div class="clear"></div>
            </div>
    </div>
</header>
</div>