<div ng-include="'components/navbar/navbar.html'"></div>
<section class="wrap">
    <div class="fl lf_nav mt">
        <div class="lf_nav_top">
            <h2><a ui-sref="product">杭州锦跃科技产品中心</a></h2>
        </div>
        <div class="lf_nav_ct">
            <ul>
            	<li ng-repeat="category in productShowCtrl.categories" ><a href="" target="_blank" ng-bind="category.name" ui-sref="product({_category:category._id})">CXsensor传感器</a></li>
            
            </ul>
        </div>
        <div class="lf_nav_btm">咨询服务热线<br><span>0571-88581287</span></div>
        <div class="contactn mt mm">
			<div class="tits">
				<h4><a href="../../../../../lianxiwomen/index.htm"  >联系我们</a></h4>
		    </div>
		    <div class="subnr">
		    	<img src="assets/images/CatactUs.jpg"   alt="杭州锦跃科技" title="杭州锦跃科技">  
				<p>联系人：叶先生</p>
	            <p>手机：13018914283</p>
	            <p>电话：0571-88581287   13357163105</p>
	            <p>传真：0571-88735269</p>
	            <p>邮箱：13018914283@163.com</p>
	            <p>联系地址：杭州市西湖区留下街道西溪路1002号3楼303</p>
		    </div>
		</div>
	</div>
    <div class="fr pros mt">
        <div class="pub_top">
            <div class="pub_top_rt position fr">当前位置：<a ui-sref="index">首页</a> » <a ui-sref="product">产品中心</a> » <a ui-sref="product({_category:productShowCtrl.product._category._id})" ng-bind="productShowCtrl.product._category.name">CXsensor传感器</a> » <a href="" ng-bind="productShowCtrl.product.name">压力变送器</a></div>
            <div class="pub_top_lf fl">
                <ul>
                    <li class="cur"><a href="" ng-bind="productShowCtrl.product.name"></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="pub_bo coment">
			<dl class="pleft clearfix">
            	<dt><img ng-src="{{'assets/upload/'+productShowCtrl.product.image}}"   alt="{{productShowCtrl.product.name}}"></dt>
                <dd><strong>{{productShowCtrl.product.name}}</strong>
                <p>发布时间：<span ng-bind="productShowCtrl.product.createDate | date:'yyyy-MM-dd'"></span></p>
                <p>在线咨询：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2449318994&site=qq&menu=yes"><img SRC="assets/images/qq_online.gif"   alt="点击这里给我发消息"></a></p>
                <p class="red">咨询热线：13357163105</p>
                </dd>
            </dl>
            <div class="fenlei">
                <div class="tit"><span>产品详情</span></div>
                <div class="coment">
                	<div style="margin: 0px; padding: 0px; overflow: hidden;">
						<div class="case" style="margin: 0px 40px 0px 0px; padding: 0px; float: left;">
							<img ng-src="{{'assets/upload/'+productShowCtrl.product.image}}" style="border: 0px;" width="440" />
						</div>
						<dl class="m50" style="margin: 50px 0px 0px; padding-right: 0px; padding-left: 0px; float: left;">
							<dt class="f14" style="margin: 0px; padding: 0px; font-size: 14px; line-height: 36px;">
								<strong>名称：<span ng-bind="productShowCtrl.product.name"></span></strong>
							</dt>
							<dd class="f18 bold m50" style="margin: 50px 0px 0px; padding: 0px; font-size: 18px; font-weight: bold;">
								订购咨询热线：13357163105</dd>
						</dl>
					</div>
					<div class="info-tit f18 mtop function_title" >功能特点</div>
					<div class="con" style="margin: 0px; padding: 0px;">
						<p class="show_params" ng-repeat="fun in productShowCtrl.product.functions track by $index">◆ <span ng-bind="fun"></span></p>
						<p class="show_params">
							<strong>技术参数</strong>
						</p>
						<p class="show_params" ng-repeat="param in productShowCtrl.product.parameters track by $index"><span ng-bind="param.name"></span>：<span ng-bind="param.value"></span></p>
						<!-- <p style="show_params">
							<strong>规格型号</strong></p>
						<p style="show_params">
							<span style="font-weight: bold; font-family: 宋体;"><img src="../../../../../../../www.1718nk.com/uploads/img1/20141224/549a2b20174f7.jpg"   style="border: 0px;" title="NKP600规格型号.jpg" /></span></p>
						<p style="show_params">
							<strong>外型尺寸</strong>：</p>
						<p style="show_params">
							仪表外形尺寸（尺寸会根据仪表所测介质及现场工况不同而有所改变，若有不同会预先告知）</p>
						<p style="show_params">
							&nbsp;</p> -->
						<!-- <p class="p0" style="margin: 0pt 0px; padding: 0px; color: rgb(51, 51, 51); font-family: 'Microsoft YaHei', 宋体; line-height: 24px;">
							<img border="0" height="600" hspace="0" src="../../../../../../../www.1718nk.com/uploads/img1/20141224/549a2cf2572e8.png"   style="border: 0px; width: 600px; height: 600px;" title="示意图.png" vspace="0" width="600" />
						</p>
						<div class="ng-logo mtop" style="margin: 18px 0px 0px; padding: 15px 215px; color: rgb(51, 51, 51); font-size: 13px; border-bottom-color: rgb(181, 181, 181); border-bottom-width: 1px; border-bottom-style: dashed; font-family: 'Microsoft YaHei', 宋体; line-height: 24px;">
							<strong style="margin: 0px; padding: 0px;"><em style="margin: 0px; padding: 0px;"><span style="margin: 0px; padding: 0px; font-size: 72px;">CXsensor</span></em></strong>
						</div> -->
						<p class="f14" style="margin: 15px 0px; padding: 0px; list-style: none; outline: none; border: 0px; color: rgb(51, 51, 51); font-size: 14px; font-family: 'Microsoft YaHei', 宋体; line-height: 24px;">
							<strong style="margin: 0px; padding: 0px;">创造性价比最高的产品,提供最周全贴心的服务</strong><br style="margin: 0px; padding: 0px;" />
							<br style="margin: 0px; padding: 0px;" />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现在,在工业过程控制日新月异的变改中，能否具有竞争优势，关键取决于是否能够使过程控制更迅速，更灵活，更有效， 更经济。从生产到管理，,从局部至全局，所有过程都离不开设备的同步性，实现最大的生产力。<br style="margin: 0px; padding: 0px;" />
							<br style="margin: 0px; padding: 0px;" />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;杭州锦跃公司作为您专业的合作伙伴，将全心全意满足您的需求，经过在过程控制中不断取得的经验，持续的改进自主产品， 提高产品本身的可靠性，稳定性。作为仪器仪表行业的领先者，无论在在线分析仪表、物液位测量，还是流量计、压力变送器 等工业控制中其它诸多配套仪表，杭州锦跃公司产品正日益拉大与竞争对手的距离，提升市场占有率。<br style="margin: 0px; padding: 0px;" />
							<br style="margin: 0px; padding: 0px;" />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经过杭州锦跃人持之以恒的努力，公司的产品正不断改进，不断创新，从产品功能特点及长期稳定性方面，我们的产品经各种 现场条件不断考验，充分证明只有经得起考验的产品才能赢得客户的不断肯定，建立长久的合作，实现共赢。<br style="margin: 0px; padding: 0px;" />
							<br style="margin: 0px; padding: 0px;" />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着自动化控制系统在工业生产过程中的优越性。仪表标配信号输出Hart协议,Modbuse（RS485协议）将更好的提供多功 能解决方案，使系统控制更简单，更方便，更高效。再加上杭州锦跃公司体贴入微的服务，从技术咨询，到后期指导、调试和技术 支持，加上产品质保及终身制维护，彰显的是杭州锦跃的品质。总之，杭州锦跃公司将一直奉行&quot;以精立业，满足客户需要；以质取胜， 制造可靠产品；以诚相待，提供优质服务&quot;的方针，成为您最放心，最理想的合作伙伴</p>
						<div>&nbsp;</div>
					</div>
					<br />
				</div>
			</div>
            <div class="clear"></div>
        </div>
	</div>
    <div class="clear"></div>
</section>
<div ng-include="'components/footer/footer.html'"></div>