<div ng-include="'components/navbar/navbar.html'"></div>
<section class="wrap">
        <div class="fl lf_nav mt">
            <div class="lf_nav_top">
                <h2><a ui-sref="index" >锦跃科技产品中心</a></h2>
            </div>
            <div class="lf_nav_ct">
                <ul>
                <li ng-repeat="category in productCtrl.categories" ><a href="" ng-bind="category.name" ng-click="productCtrl.changeCategory(category._id)">CXsensor传感器</a></li>
                
                </ul>
            </div>
            <div class="lf_nav_btm">咨询服务热线<br><span>0571-88581287</span></div>
            <div class="contactn mt mm">
				<div class="tits">
					<h4><a ui-sref="connect" >联系我们</a></h4>
			    </div>
			    <div class="subnr">
			    	<img src="assets/images/CatactUs.jpg"  alt="锦跃科技" title="锦跃科技">  
					<p>联系人：叶先生</p>
                    <p>手机：13018914283</p>
                    <p>电话：0571-88581287   13357163105</p>
                    <p>传真：0571-88735269</p>
                    <p>邮箱：13018914283@163.com</p>
                    <p>联系地址：杭州市西湖区留下街道西溪路1002号3楼303</p>
			    </div>
			</div>
        </div>
<div class="fr pros mt">
    <div class="pub_top">
        <div class="pub_top_rt position fr">当前位置：<a ui-sref="index">首页</a> » <a ui-sref="product({page:1,_category:null,keyWord:null})" >产品中心</a></div>
        <div class="pub_top_lf fl">
            <ul>
                <li class="cur"><a ui-sref="product">产品中心</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="pub_bo coment">
       	<ul class="clearfix">
           <li ng-repeat="product in productCtrl.products" class="width33">
	           <a ui-sref="product-show({id:product._id})"  title="{{product.name}}" target="_blank"><img ng-src="{{'assets/upload/'+product.image}}"  alt="{{product.name}}"></a>
	           <span><a ui-sref="product-show({id:product._id})"  title="{{product.name}}" ng-bind="product.name" target="_blank"></a></span>
           </li> 
        </ul>
        <pagination style="float:right;" ng-if="productCtrl.pagination.numPages > 1" total-items="productCtrl.pagination.totalItems" ng-model="productCtrl.pagination.page" items-per-page="productCtrl.pagination.itemsPerPage" max-size="productCtrl.pagination.maxSize" boundary-links="{{productCtrl.pagination.numPages > 2}}" rotate="false" num-pages="productCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="productCtrl.pageChanged()"></pagination>
        <div style="clear:both"></div>
    </div>
    
</div>
<div class="clear"></div>
</section>
<div ng-include="'components/footer/footer.html'"></div>