.header{
	margin-bottom: 20px;
}
/*contentLeft*/
.contentLeft{
	padding: 7px 0;
	width: 18%;
	height: 360px;
	float: left;
	background: #fff
}
.clinicInfo,.doctorInfo{
	height: 45px;
	line-height: 45px;
	text-align: center;
}
/*contentRight*/
.contentRight{
	float: left;
	margin-left: 2%;
	margin-bottom: 100px;
	background:#fff;
	width: 80%;
	min-height: 400px; 
}
.treatmentList{
	margin-top: 20px;
}



/*start重构展示框css*/
.show_box{
	float: left;
	margin-left:10px;
	margin-right:10px;
	margin-bottom: 20px;
	width: 180px;
	height: 192px;
	border: 1px solid #BABABA;
}
.show_image{
	height: 125px;
	background: #BABABA;
	cursor: pointer;
	border-bottom:1px solid #BABABA;
}
.show_image img{
	width: 178px;
	height: 125px;
}
.show_info{
	width: 178px;
	height: 55px;
}
.text_line{
	height: 27.5px;
	line-height: 27.5px;
	padding: 0px 10px;
}
/*end重构展示框css*/


.addTreatment{
	padding-top: 115px;
	text-align: center;
	background: url(../../images/add-xm.png) no-repeat 70px 70px;
}
.clinicName,.clinicLock{
	float: left;
	width: 158px;
}
.clinicEdit{
	float: right;
}
.clinicLock,.clinicEdit{
	margin-top: 5px;
	width: 12px;
	text-indent: 0px;
}



/*新增*/
.input_position{
	/*border:1px solid red;*/
	margin: 0 auto;
	position: absolute;
	left: 0px;
	right: 0px;
	top:15%;
	box-shadow: #ccc 0 0 5px 0;
}