<navbar></navbar>
<link href="assets/css/product/product_edit.css" rel="stylesheet" type="text/css" >

<div class="content ">
	<div class="content_body htmSize">
	<!-- 这里开始显示不同页面 -->

		<div class="input_position">

			<div class="input_contents">
				<div class="input_content">
					<div class="input_name">名称:</div>
					<input type="text" class="input_value" ng-model="editProductCtrl.product.name">
				</div>
				<div style="clear:both"></div>
				

				<div class="input_content">
					<div class="input_name">热值:</div>
					<input type="text" class="input_value" ng-model="editProductCtrl.product.hotValue" placeholder="热值,可以用于推荐,值越大排序越前,如9">
				</div>
				<div style="clear:both"></div>

				<div class="input_content">
					<div class="input_name">分类:</div>
					<div class="input_value">
						<span class="blackAlpha28 pointer" ng-show="!editProductCtrl.product._category" ng-click="editProductCtrl.showSelectBox=!editProductCtrl.showSelectBox">请选择产品分类</span>
						<span class="pointer" ng-show="editProductCtrl.product._category" ng-bind="editProductCtrl.product.categoryName" ng-click="editProductCtrl.showSelectBox=!editProductCtrl.showSelectBox"></span>
						<div class="select pointer" ng-click="editProductCtrl.showSelectBox=!editProductCtrl.showSelectBox"></div>
						<div class="selectBox" ng-show="editProductCtrl.showSelectBox">
							<div class="selectCell pointer" ng-repeat="category in editProductCtrl.categories" ng-bind="category.name" ng-click="editProductCtrl.changCategory(category)">
								
							</div>
						</div>
					</div>
					<!-- <input type="text" class="input_value" ng-model="editProductCtrl.product._category"> -->
				</div>
				<div style="clear:both"></div>

				<div class="input_content">
					<div class="input_name">图片:</div>
					<div class="submit_btn" ngf-select ngf-change="editProductCtrl.upload($files,0)">
						<span class="submit_prompt">上传图片</span>
						<img ng-src="{{'assets/upload/'+editProductCtrl.product.image}}"  class="submit_img" ng-show="editProductCtrl.product.image">
						<progressbar ng-show="editProductCtrl.loaded > 0" class="progress_bar" ng-class="{active: editProductCtrl.loaded < 100}" max="100" value="editProductCtrl.loaded">
							<span ng-bind="editProductCtrl.loaded" ></span>%
						</progressbar >
					</div>
				</div>
				<div style="clear:both"></div>

				<div class="input_content">
					<div class="input_name">功能特点:</div>
					<div class="repear_input">
						<div style="position:relative;" ng-repeat="function in editProductCtrl.product.functions track by $index">
							<input type="text" class="input_value" ng-model="editProductCtrl.product.functions[$index]">
							<div class="addMore" ng-hide="$index!=editProductCtrl.product.functions.length-1" ng-click="editProductCtrl.product.functions.push('')"></div>
							<div class="reduce" ng-show="$index!=editProductCtrl.product.functions.length-1"  ng-click="editProductCtrl.product.functions.splice($index,1)"></div>
							<div style="clear:both"></div>
						</div>
						<div class="addMore addMore_param" ng-click="editProductCtrl.product.functions.push('')" ng-show="editProductCtrl.product.functions.length==0"></div>
					</div>
					
				</div>
				<div style="clear:both"></div>

				<!-- <div class="input_content">
					<div class="input_name">产品参数:</div>
					<div class="repear_input">
						<div style="position:relative;" ng-repeat="parameter in editProductCtrl.product.parameters track by $index">
							<div class="input_value pointer ellipsis" ng-bind="parameter.name+':'+parameter.value" ng-click="editProductCtrl.showEidtCell(parameter,$index)" title="{{parameter.name+':'+parameter.value}}"></div>
							<div class="addMore" ng-hide="$index!=editProductCtrl.product.parameters.length-1" ng-click="editProductCtrl.showEidtCell()"></div>
							<div class="reduce" ng-show="$index!=editProductCtrl.product.parameters.length-1"  ng-click="editProductCtrl.product.parameters.splice($index,1)"></div>
							<div style="clear:both"></div>
						</div>
					</div>
					<div class="addMore addMore_param" ng-click="editProductCtrl.showEidtCell()" ng-show="editProductCtrl.product.parameters.length==0"></div>
					
				</div>
				<div style="clear:both"></div> -->

				<div class="input_content" style="color:red">
					<div class="textarea_name">注意事项:</div>
					<div class="input_value" style="border:0;text-indent:0;">缺少名或值的产品参数,功能特点不会被保存</div>
				</div>
				<div style="clear:both"></div>

				
			</div>
		</div>
		<div class="btns">
			<div class="save_btn" ng-click="editProductCtrl.save()"></div>
			<div style="clear:both"></div>
		</div>

		<!-- 编辑参数 -->
		<div class="input_position edit_param" ng-show="editProductCtrl.showEdit">
			<div class="close_btn" ng-click="editProductCtrl.closeEditCell()"></div>
			<div class="input_contents">
				<div class="input_content">
					<div class="input_name">参数名:</div>
					<input class="input_value" type="text" ng-model="editProductCtrl.eidtparameter.name">
				</div>
				<div class="input_content">
					<div class="input_name">参数值:</div>
					<input class="input_value" type="text" ng-model="editProductCtrl.eidtparameter.value">
				</div>
			</div>
			<div class="btns">
				<div class="save_btn" ng-click="editProductCtrl.saveParam()"></div>
				<div class="delete_btn" ng-if="editProductCtrl.parameters_index!=null" ng-click="editProductCtrl.delete()"></div>
				<div style="clear:both"></div>
			</div>
		</div>

	</div>
</div>