<div ng-include="'components/navbar/navbar-admin.html'"></div>
<link href="assets/css/product/product_view.css" rel="stylesheet" type="text/css" >

<div class="content ">
	<div class="content_body htmSize">
	<!-- 这里开始显示不同页面 -->
		<div>
			<span>分类：</span><span ng-repeat="category in viewProductCtrl.categories" ng-bind="category.name + ' '" class="category_title pointer {{category.style}}" ng-click="viewProductCtrl.changCategory(category._id)"></span>
		</div>

		<div class="doctorList">
			<div class="box">
				<div class="show_box addDoctor pointer" ui-sref="admin-product-add">新增产品</div>	
				<div class="show_box" ng-repeat="product in viewProductCtrl.products">
					<div class="show_image" ui-sref="admin-product-edit({_product:product._id})"><img ng-src="{{'assets/upload/'+product.image}}" ng-show="product.image" ></div>

					<div class="show_info">
						<div class="text_line">
							<div class="clinicName ellipsis" ng-bind="product.name"></div>
							<div style="clear:both"></div>
						</div>

						<div class="text_line ">
							<div class="clinicAddress ellipsis {{product._category.name?'':'blackAlpha28'}}" ng-bind="product._category.name || '暂无所属分类'" title="{{product._category.name}}" ></div>
							<div class="edit_btn clinicEdit" ui-sref="admin-product-edit({_product:product._id})"></div>
							<div style="clear:both"></div>
						</div>
					</div>
				</div>	

				<div style="clear:both"></div>
			</div>
		</div>
		
		<pagination style="float:right;" ng-if="viewProductCtrl.pagination.numPages > 1" total-items="viewProductCtrl.pagination.totalItems" ng-model="viewProductCtrl.pagination.page" items-per-page="viewProductCtrl.pagination.itemsPerPage" max-size="viewProductCtrl.pagination.maxSize" boundary-links="{{viewProductCtrl.pagination.numPages > 2}}" rotate="false" num-pages="viewProductCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="viewProductCtrl.pageChanged()"></pagination>
	</div>
</div>