<navbar></navbar>
<link href="assets/css/product/product_edit.css" rel="stylesheet" type="text/css" >

<div class="content ">
	<div class="content_body htmSize">
	<!-- 这里开始显示不同页面 -->

		<div class="input_position">

			<div class="input_contents">
				<div class="input_content">
					<div class="input_name">名称:</div>
					<input type="text" class="input_value" ng-model="addProductCtrl.product.name">
				</div>
				<div style="clear:both"></div>
				

				<div class="input_content">
					<div class="input_name">热值:</div>
					<input type="text" class="input_value" ng-model="addProductCtrl.product.hotValue" placeholder="热值,可以用于推荐,值越大排序越前,如9">
				</div>
				<div style="clear:both"></div>

				<div class="input_content">
					<div class="input_name">分类:</div>
					<div class="input_value">
						<span class="blackAlpha28 pointer" ng-show="!addProductCtrl.product._category" ng-click="addProductCtrl.showSelectBox=!addProductCtrl.showSelectBox">请选择产品分类</span>
						<span class="pointer" ng-show="addProductCtrl.product._category" ng-bind="addProductCtrl.product.categoryName" ng-click="addProductCtrl.showSelectBox=!addProductCtrl.showSelectBox"></span>
						<div class="select pointer" ng-click="addProductCtrl.showSelectBox=!addProductCtrl.showSelectBox"></div>
						<div class="selectBox" ng-show="addProductCtrl.showSelectBox">
							<div class="selectCell pointer" ng-repeat="category in addProductCtrl.categories" ng-bind="category.name" ng-click="addProductCtrl.changCategory(category)">
								
							</div>
						</div>
					</div>
					<!-- <input type="text" class="input_value" ng-model="addProductCtrl.product._category"> -->
				</div>
				<div style="clear:both"></div>

				<div class="input_content">
					<div class="input_name">产品图片:</div>
					<div class="submit_btn" ngf-select ngf-change="addProductCtrl.upload($files,0)">
						<span class="submit_prompt">上传图片</span>
						<img ng-src="{{'assets/upload/'+addProductCtrl.product.image}}"  class="submit_img" ng-show="addProductCtrl.product.image">
						<progressbar ng-show="addProductCtrl.loaded > 0" class="progress_bar" ng-class="{active: addProductCtrl.loaded < 100}" max="100" value="addProductCtrl.loaded">
							<span ng-bind="addProductCtrl.loaded" ></span>%
						</progressbar >
					</div>
				</div>
				<div style="clear:both"></div>

				<div class="input_content">
					<div class="input_name">功能特点:</div>
					<div class="repear_input">
						<div style="position:relative;" ng-repeat="function in addProductCtrl.product.functions track by $index">
							<input type="text" class="input_value" ng-model="addProductCtrl.product.functions[$index]">
							<div class="addMore" ng-hide="$index!=addProductCtrl.product.functions.length-1" ng-click="addProductCtrl.product.functions.push('')"></div>
							<div class="reduce" ng-show="$index!=addProductCtrl.product.functions.length-1"  ng-click="addProductCtrl.product.functions.splice($index,1)"></div>
							<div style="clear:both"></div>
						</div>
						<div class="addMore addMore_param" ng-click="addProductCtrl.product.functions.push('')" ng-show="addProductCtrl.product.functions.length==0"></div>
					</div>
					
				</div>
				<div style="clear:both"></div>

				<div class="input_content">
					<div class="input_name">参数图:</div>
					<div class="submit_btn" ngf-select ngf-change="addProductCtrl.upload_param($files,0)">
						<span class="submit_prompt">上传图片</span>
						<img ng-src="{{'assets/upload/'+addProductCtrl.product.parametersImage}}"  class="submit_img" ng-show="addProductCtrl.product.parametersImage">
						<progressbar ng-show="addProductCtrl.loaded_param > 0" class="progress_bar" ng-class="{active: addProductCtrl.loaded_param < 100}" max="100" value="addProductCtrl.loaded_param">
							<span ng-bind="addProductCtrl.loaded_param" ></span>%
						</progressbar >
					</div>
					<span  style="color:red;font-size:12px">&nbsp;&nbsp;图片宽度不宜超过700px</span>
				</div>
				<div style="clear:both"></div>

				<!-- <div class="input_content">
					<div class="input_name">产品参数:</div>
					<div class="repear_input">
						<div style="position:relative;" ng-repeat="parameter in addProductCtrl.product.parameters track by $index">
							<div class="input_value pointer" ng-bind="parameter.name+':'+parameter.value" ng-click="addProductCtrl.showEidtCell(parameter,$index)"></div>
							<div class="addMore" ng-hide="$index!=addProductCtrl.product.parameters.length-1" ng-click="addProductCtrl.showEidtCell()"></div>
							<div class="reduce" ng-show="$index!=addProductCtrl.product.parameters.length-1"  ng-click="addProductCtrl.product.parameters.splice($index,1)"></div>
							<div style="clear:both"></div>
						</div>
					</div>
					<div class="addMore addMore_param" ng-click="addProductCtrl.showEidtCell()" ng-show="addProductCtrl.product.parameters.length==0"></div>
					
				</div>
				<div style="clear:both"></div> -->

				<div class="input_content" style="color:red">
					<div class="textarea_name">注意事项:</div>
					<div class="input_value" style="border:0;text-indent:0;">缺少名或值的产品参数,功能特点不会被保存</div>
				</div>
				<div style="clear:both"></div>

				
			</div>
		</div>
		<div class="btns">
			<div class="save_btn" ng-click="addProductCtrl.save()"></div>
			<div style="clear:both"></div>
		</div>

		<!-- 编辑参数 -->
		<div class="input_position edit_param" ng-show="addProductCtrl.showEdit">
			<div class="close_btn" ng-click="addProductCtrl.closeEditCell()"></div>
			<div class="input_contents">
				<div class="input_content">
					<div class="input_name">参数名:</div>
					<input class="input_value" type="text" ng-model="addProductCtrl.eidtparameter.name">
				</div>
				<div class="input_content">
					<div class="input_name">参数值:</div>
					<input class="input_value" type="text" ng-model="addProductCtrl.eidtparameter.value">
				</div>
			</div>
			<div class="btns">
				<div class="save_btn" ng-click="addProductCtrl.saveParam()"></div>
				<div class="delete_btn" ng-if="addProductCtrl.parameters_index!=null" ng-click="addProductCtrl.delete()"></div>
				<div style="clear:both"></div>
			</div>
		</div>

	</div>
</div>